body {
 background: #999;
 font-family: arial;
}
 h1 {
  color: #333;
 }
 p {
  background: #666;
  padding: 5px;
 }

.secondary {
  background: none;
  color: #555;
}

#special {
  background: red;
  color: #555;
}
